.idea/
db.sqlite3
venv/
alfheimproject/conf/secrets.json
alfheimproject/conf/donations.json
alfheimproject/conf/config.json
alfheimproject/conf/config.test.json
main.log
alfheimproject/__pycache__/
core/__pycache__/
core/helpers/__pycache__/
core/hercules/__pycache__/
core/hercules/future/__pycache__/
core/install/__pycache__/
core/management/__pycache__/
core/management/commands/__pycache__/
core/migrations/__pycache__/
core/rathena/__pycache__/
donations_api/__pycache__/
donations_api/migrations/__pycache__/
eamod_api/__pycache__/
eamod_api/migrations/__pycache__/
main_api/__pycache__/
main_api/migrations/__pycache__/
rankings_api/__pycache__/
media/images/
static/guilds/
models_ra.py
static/css/
tools/__pycache__/
cache/